* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 2rem;
}

.navbar {
  background-color: #f2f2f2;
  padding-left: 0;
}

.nav {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-left: 0;
}

.nav li {
  cursor: pointer;
  margin-right: 10px;
}

.nav li:first-child {
  margin-left: 0;
}

.nav li:hov er {
  color: red;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.box {
  flex: 1 1 200px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

img {
  width: 100%;
  height: auto;
  padding: 0;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
}
