* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 2rem;
}

body {
  font-family: "Poppins";
  font-size: 22px;
}

.navbar {
  background-color: #f2f2f2;
  padding-left: 0;
}

.nav {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-left: 0;
}

.nav li {
  cursor: pointer;
  margin-right: 10px;
}
.nav li a {
  text-decoration: none;
}

.nav li:first-child {
  margin-left: 0;
}

.nav li a.active {
  color: red;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}
img {
  width: 100%;
  max-height: 300px;
  padding: 0;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
}

.signupForm {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  * {
    padding: 1rem;
  }
}
